<!-- partials/_navbar -->

<link href="https://fonts.googleapis.com/css?family=Bungee|Permanent+Marker&display=swap" rel="stylesheet">

<nav class="navbar">
  <div class="nav-elements">
  <span class="navbar-logo">
    <span class="num-logo">2&nbsp</span> Guys <span class="num-logo">&nbsp1&nbsp</span> Poll</span>
  <div class="pie-icon"><i class="fas fa-chart-pie fa-3x"></i></div>
</div>
</nav>

<script src="https://kit.fontawesome.com/7db4e91bf8.js" crossorigin="anonymous"></script>
