<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Poll</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
  <link rel="stylesheet" href="/styles/polls.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <% include partials/_navbar %>

  <div class="poll-container">
    <div id="div-ask">Ask a question!</div>
    <form id="poll-question" action="/polls" method="POST">
      <textarea class="question" rows="1" name="question" form="poll-question" placeholder="Question"></textarea>
      <div id="div-question"></div>
      <textarea class="option" rows="1" name="choice" form="poll-question" placeholder="Option"></textarea>
      <textarea class="option" rows="1" name="description" form="poll-question" placeholder="description "></textarea>

      <textarea class="option" rows="1" name="choice" form="poll-question" placeholder="Option"></textarea>
      <textarea class="option" rows="1" name="description" form="poll-question" placeholder="description"></textarea>

      <input id="submit-poll-btn" type="submit" value="submit" />
    </form>
  </div>
</body>

</html>
