@import 'layout.scss';

.poll-container {
  @extend .email-container;
  border: 4rem;


  .question {
    @extend .email;
    display: flex;
  }

  .option {
    @extend .email;
    display: flex;
    justify-content: center;
  }
}



#div-question {
  display: flex;
  background-color: grey;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 80%;
  height: .2rem;
  border-radius: .6;

}
