@import 'layout.scss';

.poll-container {
  @extend .email-container;

  .question {
    @extend .email;
    display: flex;
  }

  .option {
    @extend .email;
    display: flex;
    justify-content: center;
  }


}

