@import 'layout.scss';

.poll-container {
  @extend .base-container;
  border: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  .question {
    @extend .base-form;

    resize: none;
    display: flex;
    // border-radius: .6rem;
    margin-bottom: 1.25rem;
  }

  .option {
    @extend .base-form;
    width: 30.35rem;
    display: flex;
    margin-bottom: 1.25rem;
  }
}

#div-question {
  display: flex;
  background-color: grey;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 100%;
  height: .2rem;
  border-radius: .6;
}


#choice.form-control {
  @extend .base-form;
}

#description.form-control {
  @extend .base-form;
}

#dynamicField {
  margin: 1rem;
}

